.border {
  border: 2px solid red;
  margin: 3px;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}

.item-center {
  align-items: center;
}

.bg-black {
  background-color: black;
  color: white;
}

.invert {
  filter: invert(1);
}

.bg-gray{
    background-color:#121212 ;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px; /* Adjust the value as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333; /* dark background color */
  border-radius: 5px; /* Adjust the value to match the scrollbar width */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666; /* dark color for scrollbar handle */
  border-radius: 5px; /* Adjust the value to match the scrollbar width */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; /* lighter color for scrollbar handle on hover */
  border-radius: 5px; /* Adjust the value to match the scrollbar width */
}

